<WellnessRules>
	<Activity>
		<Walking>
			<ResponsibleProfile name="p0001" format="posl"/>
			<ResponsibleProfile name="p0002" format="posl"/>
			<ResponsibleProfile name="p0003" format="posl"/>
		</Walking>
		<Running>
			<ResponsibleProfile name="p0001" format="posl"/>
			<ResponsibleProfile name="p0002" format="posl"/>
			<ResponsibleProfile name="p0003" format="posl"/>
		</Running>
		<Swimming>
			<ResponsibleProfile name="p0001" format="posl"/>
		</Swimming>
		<Skating>
			<ResponsibleProfile name="p0003" format="posl"/>
		</Skating>
		<Yoga>
			<ResponsibleProfile name="p0002" format="posl"/>
		</Yoga>
		<Hiking>
			<ResponsibleProfile name="p0002" format="posl"/>
			<ResponsibleProfile name="p0003" format="posl"/>
		</Hiking>
		<Baseball>
			<ResponsibleProfile name="p0003" format="posl"/>
		</Baseball>
	</Activity>
</WellnessRules>