<WellnessRules>
	<Activity>
		<Leg>
			<ResponsibleProfile name="p0001" format="posl"/>
			<ResponsibleProfile name="p0002" format="posl"/>
			<ResponsibleProfile name="p0003" format="posl"/>
			<ResponsibleProfile name="p0004" format="posl"/>
		
			
		</Leg>
		<Torso>
		
		</Torso>
		<Back>
		
		</Back>
		<Arm>
			<ResponsibleProfile name="p0008" format="posl"/>
			<ResponsibleProfile name="p0009" format="posl"/>
			<ResponsibleProfile name="p0010" format="posl"/>
		</Arm>
		
		<Shoulder>
		
		</Shoulder>
		<Neck>
		
		</Neck>
		<Head>
			<ResponsibleProfile name="p0005" format="posl"/>
			<ResponsibleProfile name="p0006" format="posl"/>
			<ResponsibleProfile name="p0007" format="posl"/>
		</Head>
	</Activity>
</WellnessRules>