AddDefaultCharset UTF-8
AddCharset UTF-8 .xhtml .html
AddType application/xhtml+xml .xhtml
AddType text/html .html
Redirect /RuleMLPrimer2012-08-09.html
http://ruleml.org/papers/Primer/pages/RuleMLPrimer2012-08-09-p1.html

