@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
#wrapper {
	background-color: #f7f7f7;
	width: 1000px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #99999;
	border-left-color: #99999;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#wrapper #logo {
	height: 100px;
	background-color: #FFF;
}

#wrapper #headerImg {
	background-image: url(headerImg.jpg);
	background-repeat: no-repeat;
	width: 1000px;
	height: 150px;
}
#wrapper #bodyArea #inner_left {
	float: left;
	width: 750px;
	margin-bottom: 50px;
}
#wrapper #bodyArea #inner_right {
	float: right;
	width: 230px;
	margin: 10px;
}
#wrapper #bodyArea #inner_left #inner_inner_left {
	float: left;
	width: 230px;
	font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 10px;
	color: #000;
}
#wrapper #bodyArea #inner_left #inner_inner_right {
	width: 480px;
	float: right;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	font-size: 1px;
	color: #000;
	font-family: "MS Serif", "New York", serif;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

#wrapper #footer {
	clear: both;
	height: 40px;
	background-color: #999;
	font-size: 14px;
	text-align: left;
}

a href {
	text-decoration: none;
	font-size: 20px;
}
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper #navigation {
	height: 25px;
	font-family: "Comic Sans MS", cursive;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	color: #030;
	font-weight: 400;
	background-color: #FFF;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 10px;
}
#wrapper #bodyArea #inner_left #inner_inner_right p strong  h1{
	text-align: left;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}
	
#wrapper #bodyArea #inner_left #inner_inner_right p strong {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-weight: normal;
}
#wrapper #bodyArea #inner_left #inner_inner_right p span {
	color: #000;
}

#inner_inner_left h1{
	text-align: left;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}
#inner_inner_right h2{
	text-align: left;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

#inner_inner_left a {
	font-size: 16px;
	font-family:Arial, Helvetica, sans-serif;
	color: #800;
	font-weight: bold;
}
#inner_inner_left a:visited {
	color: #800;
	text-decoration:underline;
}
#inner_inner_left a:link {
	text-decoration: none;
	text-decoration:underline;
}
#inner_inner_left a:hover {
	text-decoration:underline;
}
#inner_inner_left a:active {
	text-decoration:underline;
}

#inner_inner_right h1 {
	text-align: center;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}
#inner_right h1{
	text-align: right;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

#inner_right h2{
	text-align: right;
	text-decoration:underline;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #800;
}

#inner_right a {
	font-size: 16px;
	font-family:Arial, Helvetica, sans-serif;
	color: #800;
	font-weight: bold;
}
#inner_right a:visited {
	color: #800;
	text-decoration:underline;
}
#inner_right a:link {
	text-decoration:underline;
}
#inner_inner_left a:hover {
	text-decoration:underline;
}
#inner_inner_left a:active {
	text-decoration:underline;
}
ul, ol, dl
{
	margin:2px 5px 5px 20px;
/*  font-size:0.9em;*/
}

ul li, ol ol
{
	margin:4px 0px 4px 40px;
}