/**
 * Style sheet 1024px
 */
/* General tags */
body
{
	margin:0;
	padding:0;
	color:#404040;
	background:url(/ruleml2009/tl_files/ruleml2009/Images/background.gif) repeat-y #fff;
	font:76% Verdana,Tahoma,Arial,sans-serif;
	line-height:1.3em;
}

a
{
	text-decoration:none;
	color:#000066;
	font-weight:700;
}

a:hover
{
	text-decoration:underline;
}

a img
{
	border:0;
}

p
{
	margin:0px 0px 18px 10px;
}

ul, ol, dl
{
	margin:2px 0px 16px 35px;
	font-size:0.9em;
}

ul ul, ol ol
{
	margin:4px 0px 4px 35px;
}

blockquote
{
	margin:20px 10px;
	padding:8px;
	border:1px solid #dadada;
	font-size:0.9em;
}

blockquote p
{
	margin:0;
}

/* Headers */
.huge
{
	margin:0px 0px 20px 25px;
	font-size:3.6em;
	color:#000066;
	letter-spacing:-3px;
}

.huge a
{
	color:#000066;
	text-transform:none;
}

h1
{
	margin:0px 0px 10px 0px;
	padding:0px 2px 2px 5px;
	border-bottom:4px solid #dadada;
	font-size:1.4em;
	color:#000066;
	letter-spacing:-1px;
}

h2
{
	margin:10px 0px 8px 0px;
	padding:1px 2px 2px 3px;
	border-bottom:1px solid #dadada;
	font-size:1.2em;
	color:#000066;
}

.headerimage
{
	margin:-38px 0px 0px 0px;
	padding:0;
	text-align:right;
}

div.headerimagecopyright
{
	margin:0px 0px 24px 0px;
	text-align:right;
}

a.headerimagecopyright
{
	font-weight:normal;
	font-size:0.8em;
	color:#808080;
}

img.headerimagecopyright
{
	margin:1px 0px -2px 0px;
}

.mod_search > * > .formbody
{
	margin:0px 0px 32px 0px;
	text-align:right;
}

.mod_search > * > .formbody > .text
{
	border:1px solid #dadada;
	font-size:0.9em;
}

.mod_search > * > .formbody > .submit
{
	border:1px solid #dadada;
	font-size:0.9em;
}

/* Main wrap */
#wrap
{
	width:760px;
	margin:10px 0px 0px 52px;
	padding:0;
	color:#404040;
}

#header
{
	margin:0;
}

#headerlogo
{
	margin-bottom:-20px;
	text-align:right;
}

#slogan
{
	margin:15px 0px 6px 64px;
	font-size:1.5em;
	color:#808080;
	line-height:1.2em;
	letter-spacing:-1px;
	font-weight:700;
}

#subslogan
{
	margin:0px 0px 4px 64px;
	font-size:1.2em;
	color:#000066;
	font-weight:700;
}

/* Sidebar and menu */
#sidebar
{
	width:195px;
	float:left;
	margin:0px 0px 5px 0px;
	padding:1px 0px 0px 0px;
	line-height:1.4em;
}

#sidebar ul
{
	margin:0;
	padding:0px 0px 15px 10px;
	font-size:0.9em;
	list-style:none;
}

#sidebar li
{
	margin:0px 0px 4px 0px;
	padding:0;
	list-style:none;
}

#sidebar li a
{
	padding:2px;
	font-size:1.4em;
	font-weight:700;
}

#sidebar ul ul
{
	margin:4px 0px 3px 15px;
	padding:0;
	line-height:1.2em;
}

#sidebar ul ul li a
{
	font-weight:400;
}

#sidebar h1
{
	margin:0px 0px 8px 0px;
}

#sidebar li p
{
	margin:-2px 0px -1px 0px;
	padding:2px;
	font-size:1.4em;
	color:#000066;
	font-weight:700;
}

#sidebar ul ul li p
{
	margin:-2px 0px 0px 0px;
	color:#000066;
	font-weight:400;
}

.active p
{
	background: #ececec;
}

.mod_newslist > .layout_latest
{
	margin:0px 0px 12px 0px;
	background:#FEE5BE;
}

.mod_newslist h2
{
	margin-left:6px;
	font-size:1.1em;
}

.mod_newslist p
{
	margin:0px 0px 2px 10px;
}

.more
{
	text-align:right;
}

.more a
{
	font-weight:normal;
	font-size:0.8em;
}

/* Main content */
#content
{
	width:550px;
	float:right;
	margin:0;
	padding:0;
	text-align:left;
	line-height:1.5em;
}

#contentalt
{
	width:550px;
	float:left;
	margin-right:20px;
	padding:0;
	text-align:left;
	line-height:1.5em;
}

#content h2, #contentalt h2
{
	margin:10px 0px 8px 0px;
}

.pdf_link
{
	text-align:right;
	font-size:0.8em;
}

.pdf_link a
{
	font-weight:normal;
}

/* Footer */
#footer
{
	clear:both;
	margin:0 auto;
	padding:8px 0px;
	text-align:right;
	border-top:4px solid #dadada;
	font-size:0.9em;
	color:#808080;
	line-height:1.6em;
}

#footer p
{
	margin:0;
	padding:0;
}

#footer a
{
	color:#808080;
}

/* Additional classes */
.box
{
	padding:10px 10px 10px 13px;
	border:1px solid #c8c8c8;
	font-size:0.9em;
	color:#fff;
	line-height:1.4em;
	background:#000066;
}

.box a
{
	color:#f0f0f0;
}

.left
{
	float:left;
	margin:0px 15px 4px 0px;
}

.right
{
	float:right;
	margin:0px 0px 4px 15px;
}

.readmore
{
	margin:-10px 10px 12px 0px;
	text-align:right;
}

.timestamp
{
	margin:-5px 0px 15px 10px;
	font-size:1.2em;
}

.timestamp a
{
	font-weight:normal;
}

.blue
{
	color:#000066;
}

.clear
{
	clear:both;
}

.fade
{
	color:#c8c8c8;
}

.gray
{
	color:#808080;
}

.photo
{
	margin:6px 18px 2px 5px;
	padding:2px;
	border:1px solid #bababa;
	background:#fff;
}
